data/*
__pycache__/
*.pyc
*.pyo
*.pyd
*.h5
*.hdf5
*.ckpt
*.pth
*.pt
*.onnx
*.log
*.csv
*.tsv
*.npy
*.npz
*.pkl
*.joblib
*.model
*.weights
*.tfrecord
*.pb
*.pbtxt
*.tensorboard
*.ipynb_checkpoints/
venv/
.env
.DS_Store
logs
results
results_si_sdr
res*